article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

svg:hover g,
svg:hover polygon,
svg:active g, svg:active polygon {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
  will-change: opacity, fill, transform;
}

.svg-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.st1 {
  fill: #406325;
}

.st2 {
  fill: #B8C698;
}

.st3 {
  fill: #BCCD30;
}

.st4 {
  fill: #5D8A3F;
}

.st5 {
  fill: #274936;
}

.st6 {
  fill: #5E7B38;
}

.st8 {
  fill: #5D8A3F;
}

.st0 {
  fill: #649257;
}

.st7 {
  fill: #006031;
}

.st9 {
  fill: #F2F098;
}

.st10 {
  fill: #71CACA;
}

.st11 {
  fill: #C5DC91;
}

.st12 {
  fill: #FFE29E;
}

.st13 {
  fill: #71CACA;
}

.st14 {
  fill: #366F1F;
}

.st15 {
  fill: #D3E5A3;
}

body {
  background-color: #351735;
}

h1 {
  font-family: "Overlock", sans-serif;
  color: #6a486a;
  font-size: 40px;
  border-bottom: 1px dashed #6a486a;
  padding-bottom: 10px;
}

h2 {
  font-family: "Overlock", sans-serif;
  color: #6a486a;
  font-size: 28px;
  padding-bottom: 10px;
}

header {
  height: 140px;
  background-color: #351735;
  padding: 30px 70px 5px;
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  border-bottom: 10px solid #351735;
}

header h1, header h2 {
  color: beige;
  font-family: "Overlock", sans-serif;
  margin: 10px 0 0;
  display: block;
  border-bottom: none;
}

header h1 {
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 10px;
  float: left;
}

header h2 {
  font-size: 30px;
  float: right;
  margin-top: 35px;
}

img {
  width: 25px;
  margin: 5px;
  margin-bottom: -5px;
}

.wrapper {
  margin: 50px;
  margin-top: 200px;
  background-color: beige;
  max-width: 1440px;
  padding: 50px;
  border-radius: 10px;
  min-height: 900px;
  z-index: 0;
}

.svg-wrapper {
  min-width: 100%;
  margin-bottom: 100px;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -webkit-justify-items: space-between;
  -moz-justify-items: space-between;
  -ms-justify-items: space-between;
  -o-justify-items: space-between;
  justify-items: space-between;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

span {
  float: right;
}

svg {
  background-color: black;
  margin: 10px;
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  float: left;
  /*Hardware Acceleration*/
  -webkit-transform: rotate3d(0, 0, 0);
  -moz-transform: rotate3d(0, 0, 0);
  -ms-transform: rotate3d(0, 0, 0);
  -o-transform: rotate3d(0, 0, 0);
  transform: rotate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  transition: transform 4s ease-in-out;
}

footer {
  font-family: Overlock, sans-serif;
  font-size: 26px;
  height: 150px;
  background-color: #351735;
  text-align: center;
  overflow: hidden;
  padding-top: 60px;
}

footer a i {
  font-size: 30px;
  color: beige;
}

footer p {
  width: 125px;
  margin: auto;
  clear: both;
  color: beige;
  font-size: 12px;
}

path {
  opacity: .8;
  transition: fill 6s ease, opacity 6s ease;
}

.st4 {
  opacity: .2;
}

.st6 {
  opacity: .2;
}

.st9 {
  opacity: 0;
}

g {
  transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 4s ease;
  -moz-transition: -moz-transform 4s ease;
  -o-transition: -o-transform 4s ease;
  transition: transform 4s ease;
}

.back {
  -webkit-transition: -webkit-transform 3s ease-out, opacity 1s ease;
  -moz-transition: -moz-transform 3s ease-out, opacity 1s ease;
  -o-transition: -o-transform 3s ease-out, opacity 1s ease;
  transition: transform 3s ease-out, opacity 1s ease;
}

.backslow {
  -webkit-transition: -webkit-transform 3.5s ease-out, opacity 1s ease;
  -moz-transition: -moz-transform 3.5s ease-out, opacity 1s ease;
  -o-transition: -o-transform 3.5s ease-out, opacity 1s ease;
  transition: transform 3.5s ease-out, opacity 1s ease;
}

.st1 {
  opacity: 0;
}

.st2 {
  opacity: .5;
}

#Layer1:hover g {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

#Layer1:hover .st21 {
  fill: #E05424;
}

#Layer1:hover .st20 {
  fill: #E06A46;
}

#Layer1:hover .st19 {
  fill: #E24723;
}

#Layer1:hover .st18 {
  fill: #23B3B3;
}

#Layer1:hover .st17 {
  fill: #26D8D8;
}

#Layer1:hover .st16 {
  fill: #CC704C;
}

#Layer1:hover .st15 {
  fill: #CE604A;
}

#Layer1:hover .st14 {
  fill: #0081B3;
}

#Layer1:hover .st13 {
  fill: #0083C2;
}

#Layer1:hover .st12 {
  fill: #008EB9;
}

#Layer1:hover .st11 {
  fill: #0097B5;
}

#Layer1:hover .st10 {
  fill: #009999;
}

#Layer1:hover .st9 {
  fill: #009FC9;
  opacity: .6;
}

#Layer1:hover .st8 {
  fill: #00A3DB;
}

#Layer1:hover .st7 {
  fill: #00AFEC;
}

#Layer1:hover .st6 {
  fill: #00B3DC;
  opacity: .6;
}

#Layer1:hover .st5 {
  fill: #00EDED;
}

#Layer1:hover .st4 {
  fill: #3ECCE2;
  opacity: .8;
}

#Layer1:hover .st3 {
  fill: #A1E1E8;
}

#Layer1:hover .st2 {
  fill: #A55137;
  opacity: 0;
}

#Layer1:hover .st1 {
  fill: #DD816C;
}

#Layer1:hover .st0 {
  fill: #449896;
}

#Layer1:hover .back {
  -webkit-transform: rotate(-360deg);
  -moz-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  -o-transform: rotate(-360deg);
  transform: rotate(-360deg);
}

#Layer1:hover .backSlow {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

#Layer1:hover g.revolve {
  -webkit-transform: rotate3d(2, 2, 2);
  -moz-transform: rotate3d(2, 2, 2);
  -ms-transform: rotate3d(2, 2, 2);
  -o-transform: rotate3d(2, 2, 2);
  transform: rotate3d(2, 2, 2);
}

#Layer1:hover .center {
  opacity: 0;
}
