@import "_normalize";
@import "_variables";
@import "_placeholders_mixins";

.st1{fill:#406325;}
.st2{fill:#B8C698;}
.st3{fill:#BCCD30;}
.st4{fill:#5D8A3F;}
.st5{fill:#274936;}
.st6{fill:#5E7B38;}
.st8{fill:#5D8A3F;}
.st0{fill:#649257;}
.st7{fill:#006031;}
.st9{fill:#F2F098;}
.st10{fill:#71CACA;}
.st11{fill:#C5DC91;}
.st12{fill:#FFE29E;}
.st13{fill:#71CACA;}
.st14{fill:#366F1F;}
.st15{fill:#D3E5A3;}

body {
	background-color: #000;
}
* {
	color: beige;
}
button {
	color: black;
}
svg {
	margin: 30px;
	width: 400px;
	height: 400px;
	border-radius: 50%;
	/*Hardware Acceleration*/
	@include prefix(transform, rotate3d(0,0,0));
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	transition: transform 4s ease-in-out;
}
.foo {
	background-color: #222;
}
.baz {
	background-color: beige;
}
path {
	opacity: .8;
	transition: fill 6s ease, opacity 6s ease;
}
.st4 {
	opacity: .2;
}
.st6 {
	opacity: .2;
}
.st9 {
	opacity: 0;
}
g {
	transform-origin: 50% 50%;
	transition: transform 4s ease;
}
#Layer1:hover { 
	g {
	@include prefix(transform, rotate3d(0,0,0));
	@include prefix(transform, rotate(330deg));
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	}
	.st21{fill:#E05424;}
	.st20{fill:#E06A46;}
	.st19{fill:#E24723;}
	.st18{fill:#23B3B3;}
	.st17{fill:#26D8D8;}
	.st16{fill:#CC704C;}
	.st15{fill:#CE604A;}
	.st14{fill:#0081B3;}
	.st13{fill:#0083C2;}
	.st12{fill:#008EB9;}
	.st11{fill:#0097B5;}
	.st10{fill:#009999;}
	.st9{fill:#009FC9;
		opacity: .6;}
	.st8{fill:#00A3DB;}
	.st7{fill:#00AFEC;}
	.st6{fill:#00B3DC;
		opacity: .6;}
	.st5{fill:#00EDED;}
	.st4{fill:#3ECCE2;
		opacity: .8;}
	.st3{fill:#A1E1E8;}
	.st2{fill:#A55137;
		opacity: 0;}
	.st1{fill:#DD816C;}
	.st0{fill:#449896;}
	.back {
		@include prefix(transform, rotate(-360deg));
	}
	.backSlow {
		@include prefix(transform, rotate(-180deg));
	}
}